body{
    background-color: aqua;
    color: black;
    font-family:  "Rubik", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color: rgb(15, 97, 97);
    color: rgba(191, 230, 174, 0);
    font-family:"Rubik", sans-serif; 

}
.passo{
    display: none;
}

 .passo.ativo{
    display: block;
    }